<div class = "container">
	<div class= "jumbotron">
		<div class="row">
  			<div class="col-md-10 col-md-offset-1">
  			<% if current_user.name.split[0].downcase == "rayaan"%>
  				<h2 class ="new-question heart"> Hello <i class='glyphicon glyphicon-heart-empty heart'>Ray</i><i class='glyphicon glyphicon-heart-empty heart'></i>, What would you like to know today? Ask away!</h2>
  			<%else%>
  				<h2 class ="new-question heart"> Hello <%= current_user.name.split[0]%>, What would you like to know today? Ask away!</h2>
  			<%end%>

			<%= form_for @question do |q|%>
				<%= q.label :title, "Ask" %><br>
				<%= q.text_area :title, class: "form-control" %><br>
				<%= q.submit "Submit", class: "btn btn-primary"%>
				<%= link_to "Back", root_path, class: "btn btn-default" %>
			<% end %>
			</div>
		</div>
	</div>
</div>