<div class = "container">
	<div class= "jumbotron">
		<div class="row">
  			<div class="col-md-10 col-md-offset-1">
  				
				<h1 class= "questions_bottom_margin"><%=@question.title%>
				</h1>

				<small>Submitted <%=time_ago_in_words(@question.created_at)%> ago by <%=@question.user.name%>
				</small><br>
				<%= render @question.answers%> <br>

				<%= render 'answers/form'%>
			</div>
		</div>
	</div>
</div>

