<div class = "container">
	<div class= "jumbotron">
	<%flash.each do |msg_type, msg|%>
		<div class ="alert alert-<%=msg_type%>"><%=msg%></div>
	<%end%>
	
		<div class="row">
			<div class="col-md-1 vote-column">
				<div class = "vote"><%= link_to "<i class='glyphicon glyphicon-chevron-up'></i> ".html_safe, like_question_path(@question), method: :put %>
					<%=@question.get_upvotes.size%>
				</div><br>

				<div class = "vote"><%= link_to "<i class='glyphicon glyphicon-chevron-down'></i> ".html_safe, dislike_question_path(@question), method: :put %>
					<%=@question.get_downvotes.size%>
				</div>
			</div>

  			<div class="col-md-1">
  				<%= image_tag @question.user.image.thumb.url%> 
			</div>

			<div class="col-md-9">
				<span class =" question-on-show"><%= @question.title %></span><br>

				<%if logged_in? && current_user.name.downcase.split[0] == "samuel" && @question.user.name.downcase.split[0] == "samuel"%>
					<small>Submitted <%=time_ago_in_words(@question.created_at)%> ago by <span class ="heart">Samuel </span> aka The Dickman
					</small><br>
				<%else%>
					<small>Submitted <%=time_ago_in_words(@question.created_at)%> ago by <%=@question.user.name%>
					</small><br>
				<%end%>

				<% if !logged_in? %>
				

				
				<small><%= link_to "Login", login_path%> or <%= link_to "Sign up", signup_path%> to answer/rate this question</small>

				<% end %>


				<%= render @question.answers%> <br>
			</div>

			</div>

			<div class = "row">
				<div class = "col col-md-10 col-md-offset-1 ">
					<%= render 'answers/form'%>
				</div>
			</div>
	</div>
</div>

