
	
	<%if @user.errors.any?%>
		<%flash.each do |msg_type, msg|%>
			<div class ="alert alert-<%=msg_type%>">
				<%=msg%>
			</div>
		<%end%>
	<%end%>

	<%=form_for(@user) do |user|%>
		<ul>
			<%@user.errors.full_messages.each do |msg|%>
				<li><%=msg%></li>
			<%end%>
		</ul>

		<p>
		<%= user.label :name%><br>
		<%= user.text_field :name, class: 'form-control'%> 
		</p>

		<p>
		<%= user.label :email%><br>
		<%= user.email_field :email, class: 'form-control'%> 
		</p>

		<p>
		<%= user.label :password%><br>
		<%= user.password_field :password, class: 'form-control'%> 
		</p>

		<p class="field">
    		<%= user.label :image %><br>
    		<%= user.file_field :image %>
    		<% if user.object.image? %>
      <%= image_tag user.object.image.url %>
      <%= user.label :remove_image %>
      <%= user.check_box :remove_image %> 
    <% end %>
 		</p>
		<%= user.submit "Submit", class: 'form-control btn btn-primary'%>
	<%end%>

