<div class ="each_answer_on_question_page">
	<div class="row">
		<div class="col-md-1 vote-column">
			<h3>
			<div class = "vote">
				<%= link_to "<i class='glyphicon glyphicon-chevron-up'></i> ".html_safe, vote_answer_path(answer), method: :put %>
					<%=answer.get_upvotes.size%> </div> <br>
			<div class = "vote">
				<%= link_to "<i class='glyphicon glyphicon-chevron-down'></i> ".html_safe, vote_answer_path(answer), method: :put %>
				<%=answer.get_downvotes.size%></div>
			</h3>
		</div>

		<div class="col-md-11">
			<p><span class = "answer_user_name"><%=answer.user.name.split[0]%>: </span>
			<span class = "answers-on-show"><%=answer.response.html_safe%></span><br>
			<span class = "time_ago"><%=time_ago_in_words(answer.created_at)%> ago  </span>

			<%if answer.user==current_user%>
			<%= link_to "<i class = 'glyphicon glyphicon-pencil edit-glyph'></i>".html_safe, edit_question_answer_path(answer.question, answer)%>
			<%= link_to "<i class='glyphicon glyphicon-remove delete-glyph'></i> ".html_safe, [answer.question, answer], method: :delete, data: { confirm: "Are you sure?" }%>
			<%end%><br>

			
			</p>
	
			
		</div>
	</div>
</div>
