<nav class = "navbar navbar-inverse">
	<div class="row">
  		<div class="col-md-10 col-md-offset-1">
	  		<div class = "navbar-header">
				<%= link_to "Ask-o-Ans", root_path,  class: "navbar-brand" %>
			</div>
					
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %> 
				<li><%= link_to "All Users", users_path%></li>
				<li><%= link_to "Logout", logout_path, method: "delete"%></li>
				<li><%= link_to current_user.name, current_user%></li>
				<% else %>
		     	<li><%= link_to "Sign Up", signup_path%></li>

		      	<li><%= link_to "Login", login_path%></li>
		      	<% end %>
		    </ul>	
		</div>
	</div>
</nav>